In [1]:
import numpy as np 
import pandas as pd 

melb_data = pd.read_csv('C:/IDE/data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df.drop(['index', 'Coordinates'], axis=1,inplace=True)
#melb_df.head()

total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
#display(total_rooms)
melb_df['MeanRoomsArea'] = melb_df['BuildingArea']/total_rooms
#display(melb_df['MeanRoomsArea'])
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
#display(melb_df['AreaRatio'])

#display(melb_df['Date'])
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
#display(melb_df['Date'])
years_sold = melb_df['Date'].dt.year
#print(years_sold)
#print('Min year sold:', years_sold.min())
#print('Max year sold:', years_sold.max())
#print('Mode year sold:', years_sold.mode()[0])
melb_df['MonthSale'] = melb_df['Date'].dt.month
#melb_df['MonthSale'].value_counts(normalize=True)
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
#display(delta_days.dt.days)
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
#display(melb_df['AgeBuilding'])
melb_df = melb_df.drop('YearBuilt', axis=1)
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
#print(weekend_count)
#print(melb_df['Address'].nunique())
print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

In [3]:
def get_street_type(address):
    
    exclude_list = ['N', 'S', 'W', 'E']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list[-2]
        
    return street_type

street_types = melb_df['Address'].apply(get_street_type)
#display(street_types) 
#print(street_types.nunique())   
#display(street_types.value_counts())
popular_stypes = street_types.value_counts().nlargest(10).index
#print(popular_stypes)
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
#display(melb_df['StreetType'])
#print(melb_df['StreetType'].nunique())
melb_df = melb_df.drop('Address', axis=1)
display(melb_df['WeekdaySale'])

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

In [ ]:
#Задание 4.2
def get_weekend(weekday):
    
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
display(melb_df['Weekend'])
mean_price = round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())
print(mean_price)

In [ ]:
# Задание 4.3
popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index
print(popular_seller)
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seller else 'other')
print(round((melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min())/(melb_df[melb_df['SellerG'] == 'other']['Price'].min()), 1))

In [4]:
unique_list = []

for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtypes)
    unique_list.append(item)

unique_counts = pd.DataFrame(
    unique_list,
    columns = ['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique', ignore_index=True)

display(unique_counts)

      Column_Name  Num_Unique            Type
0            Type           3          object
1     WeekdaySale           5           int32
2          Method           5          object
3      Regionname           8          object
4           Rooms           9           int64
5        Bathroom           9           int64
6             Car          11           int64
7       MonthSale          12           int32
8         Bedroom          12           int64
9     CouncilArea          33          object
10           Date          58  datetime64[ns]
11    AgeBuilding         152           int64
12       Postcode         198           int64
13       Distance         202         float64
14        SellerG         268          object
15  Propertycount         311           int64
16         Suburb         314          object
17   BuildingArea         602         float64
18  MeanRoomsArea        1277         float64
19       Landsize        1448         float64
20          Price        2204         float64
21      Lattitude        6503         float64
22      AreaRatio        6521         float64
23     Longtitude        7063         float64
24        Address       13378          object

In [6]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_unique_count = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  category
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  category
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  CouncilArea    12211 non-null  category
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  category
 19  Propertycount  13580 non-null  int64
 20  MeanRoomsArea  13580 non-null  float64
 21  AreaRatio      13580 non-null  float64
 22  MonthSale      13580 non-null  category
 23  AgeBuilding    13580 non-null  int64
 24  WeekdaySale    13580 non-null  category
dtypes: category(6), datetime64[ns](1), float64(8), int64(7), object(3)
memory usage: 2.0+ MB

None

In [7]:
print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [8]:
display(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

In [9]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [41]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
df['Time'] = pd.to_datetime(df['Time'])
year_watch = df['Time'].dt.year
#print(year_watch.mode()[0])
#display(df['Time'])
df['Date'] = df['Time'].dt.date
watch_mean = df[df['State']=='NV']['Date'].diff().dt.days.mean()
print(watch_mean)

68.92932862190813