# <center>Блок 4. Введение в машинное обучение<center>
## <center>ML-6. Отбор и селекция признаков<center>
### <center>1.Введение<center>
### <center>2.Способы представления данных<center>

In [1]:
import pandas as pd

In [4]:
data = pd.read_excel('C:\\IDE\\data\\Block_4\\data_ford_price.xlsx')
data.head()

,price,year,condition,cylinders,odometer,title_status,transmission,drive,size,lat,long,weather
0,43900,2016,4,6,43500,clean,automatic,4wd,full-size,36.471500,-82.483400,59.0
1,15490,2009,2,8,98131,clean,automatic,4wd,full-size,40.468826,-74.281734,52.0
2,2495,2002,2,8,201803,clean,automatic,4wd,full-size,42.477134,-82.949564,45.0
3,1300,2000,1,8,170305,rebuilt,automatic,4wd,full-size,40.764373,-82.349503,49.0
4,13865,2010,3,8,166062,clean,automatic,4wd,NaN,49.210949,-123.114720,NaN

In [5]:
X = data.drop('price', axis=1)
y = data['price']

In [6]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
education = ['нет', 'начальное', 'среднее', 'BSc', 'MSc', 'PhD']

lb.fit(education)
print('категории:', lb.classes_)
lb.transform(['нет', 'MSc'])

категории: ['BSc' 'MSc' 'PhD' 'начальное' 'нет' 'среднее']

array([[0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0]])

In [14]:
columns_to_change = ['cylinders', 'title_status', 'transmission', 'drive', 'size']
for column in columns_to_change:
    print('Число уникальных значений признака: {}'.format(column), data[column].nunique())

Число уникальных значений признака: cylinders 6
Число уникальных значений признака: title_status 5
Число уникальных значений признака: transmission 3
Число уникальных значений признака: drive 3
Число уникальных значений признака: size 4

In [15]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder()
# 'учим' и сразу применяем преобразование к выборке, результат переводим в массив
data_onehot = one_hot_encoder.fit_transform(data[columns_to_change]).toarray()
# Запишем название новых колонок в новую переменную
column_names = one_hot_encoder.get_feature_names_out(columns_to_change)
print(column_names)

['cylinders_3' 'cylinders_4' 'cylinders_5' 'cylinders_6' 'cylinders_8'
 'cylinders_10' 'title_status_clean' 'title_status_lien'
 'title_status_missing' 'title_status_rebuilt' 'title_status_salvage'
 'transmission_automatic' 'transmission_manual' 'transmission_other'
 'drive_4wd' 'drive_fwd' 'drive_rwd' 'drive_nan' 'size_compact'
 'size_full-size' 'size_mid-size' 'size_sub-compact' 'size_nan']

In [16]:
# Задание 3.7
data_onehot = pd.DataFrame(data=data_onehot, index=data.index, columns=column_names)

data_new = pd.concat([data, data_onehot], axis=1)
data_new = data_new.drop(columns=columns_to_change)
display(data_new.shape)

(7017, 30)

### <center>4.Обработка пропусков и выбросов<center>